html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


html {
  color-scheme: dark;
}

body {
  background-color: #121212;
  opacity: 1;
  background-image:  radial-gradient(#1EEBB5 1px, transparent 1px), radial-gradient(#1EEBB5 1px, #121212 1px);
  background-size: 40px 40px;
  background-position: 0 0,20px 20px;
  color: #DDF6EF;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center; 
  width: 90%
}

/* for Nextjs' temp scroll boundary div intrusion | https://github.com/vercel/next.js/issues/42345 */
main > :first-child { 
  width: 100%
}
/* 
section > div[data-nextjs-scroll-focus-boundary] {
  height: 100%;
} */

div[data-nextjs-scroll-focus-boundary]:has( > div > form) {
  display: flex;
  justify-content: center;
}
