.messageContainer {
    display: flex;
    flex-direction: column;
    --edit-visibility: hidden;
}

.info {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.messageContainer .editDelete {
    visibility: var(--edit-visibility);
    background-color: inherit;
    border: none;
    font-family: inherit;
    font-size: inherit;
    margin-top: 4px;
}

.messageContainer .editDelete:hover {
    color: #1EEBB5;
    cursor: pointer;
}

.messageContainer:hover {
    --edit-visibility: visible;
}

.editingBorder {
    padding: 20px;
}

.editingBorder> :not(.info) {
    color: #1EEBB5;
}

.editingBorder > :not(.info) > img {
    border: 1px dotted #1EEBB5
}

.username {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}

.content {
    margin-left: 42px;
}

.content>* {
    margin-block-start: 0;
}


.sentUploadContent {
    max-height: 100%;
    padding: 5px;
    width: auto;
}

.sentUploadContainer {
    width: 100%;
    height: 200px;
}

.uploadError {
    color: red;
    font-family: inherit;
    font-size: inherit;
    margin-right: 5px;
    /* margin-bottom: 3px; */
    /* margin-left: 10px; */
}